<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interact | Sign up to join this wonderful community</title>
    <link rel="stylesheet" href="/public/css/materialize.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/images/icons/all.min.css">
</head>
<body>
    <nav class="white">
        <div class="nav-wrapper">
            <div class="row">
                <div class="col s4 left-align">
                    <h1 class="header green-text"><i class="fas fa-globe icon"></i>Interact</h1>
                </div>
                <div class="col s4 center">
                    <div class="input-field" style="margin-top: -.45rem;">
                        <input type="text" id="pre">
                        <label for="pre" class="green-text" style="font-weight: 600;"><i class="fas fa-search green-text" style="font-size: large; margin-right: .7rem"></i>Find your Friends with their phone no or email</label>
                    </div>
                </div>
                <div class="col s4 center">
                    <li class="link"><a href="/signup" class="green-text">Register</a></li>
                    <li class="link"><a href="/login" class="green-text">Login</a></li>
                </div>
            </div>
        </div>
    </nav>
    {{{body}}}

    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/js/materialize.js"></script>
    <script src="/public/js/script.js"></script>
</body>
</html>