<div class="container">
    <div class="row">
        <div class="col s8 offset-s2">
            <div class="card">
                <div class="card-content">
                    <h1 class="header green-text center"><i class="fas fa-globe icon"></i>Interact</h1>
                    <li style="list-style: none;" class="divider"></li>
                    <div class="flex">
                        <img src="/upload/uploads/{{profilePic}}" alt="profile pics" style="max-width: 100%;">
                    </div>
                    <li style="list-style: none;" class="divider"></li>
                    <div class="flex">
                        <li style="list-style: none;  margin-bottom: 1.5rem; font-weight: 700" class="green-text">Username - {{username}}</li>
                        <li style="list-style: none;  margin-bottom: 1.5rem; font-weight: 700" class="green-text">E-mail - {{email}}</li>
                        <li style="list-style: none;  margin-bottom: 1.5rem; font-weight: 700" class="green-text">Phone-Number - {{phone}}</li>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>